div(class=" p-4 bg-white rounded-2xl border border-gray-300 cent__bet gap-2")
	div( class=" text-neutral-700 text-sm md:text-base font-bold  leading-[14px] shrink-0") Not interested
	.cent.gap-2
		include ./svgs/date
		div(class="text-zinc-600 text-sm  md:text-xs font-normal  tracking-wide") 2023-12-06 14:54:57