.grid.gap-1(date-rangepicker='' datepicker-buttons datepicker-orientation="{top right}")
	.relative
		.absolute.inset-y-0.start-0.flex.items-center.ps-3.pointer-events-none
			svg.w-4.h-4.text-gray-500(class='dark:text-gray-400', aria-hidden='true', xmlns='http://www.w3.org/2000/svg', fill='currentColor', viewBox='0 0 20 20')
			path(d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z')
		input(name='start', type='text',class="w-full !px-2 !py-2" , placeholder='From')
	span.text-gray-500 to
	.relative.cent.w-full.h-full
		.absolute.inset-y-0.start-0.flex.items-center.ps-3.pointer-events-none
			svg.w-4.h-4.text-gray-500(class='dark:text-gray-400', aria-hidden='true', xmlns='http://www.w3.org/2000/svg', fill='currentColor', viewBox='0 0 20 20')
			path(d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z')
		input(name='end', type='text',class="w-full !px-2 !py-2" , placeholder='To')