header(class="md:hidden cent__bet p-3 bg-white drop-shadow-sm shadow-sm sticky top-0 z-[49]")
	.cent.gap-6
		a(href="") 
			img(src="/dist/assets/logo.png" alt=""  class="w-10 h-18" )
		button(@click="sideBar=true" class="rtl:scale-x-[-1]") 
			include ./svgs/bars
	.cent.gap-6
		include ./svgs/alert
		include ./svgs/header-dot

