div(class="  bg-white rounded-2xl border border-gray-300  p-4 grid gap-4 content-start")
	.cent__bet 
		h3(class="text-neutral-700 text-sm font-bold  ") Muhammad Abdullah Muhammad Rashid
		a(href="/dist/html/profile-new-lead.html") 
			include ./svgs/eye
	.cent__bet 
		.cent.gap-1
			include ./svgs/location
			h3(class="text-zinc-600 text-xs font-normal capitalize  tracking-wide") AL Madinah AL Munawwarah
		include ./new
	include ./line-breake
	.cent__bet.gap-6
		h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Mobile
		p(class="text-neutral-700 text-sm font-bold ]") 539505059
	.cent__bet.gap-6
		h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Lead Type
		p(class="text-neutral-700 text-sm font-bold ]") Call
	.cent__bet.gap-6
		h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Products
		p(class="text-neutral-700 text-sm font-bold ]") General English Online Live
	.cent__bet.gap-6
		h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Branch
		p(class="text-neutral-700 text-sm font-bold ]") Proleaders Academy - Online
