div(class=" bg-gradient-to-b from-sky-900 to-blue-600  hidden md:flex justify-center items-center overflow-hidden")
	div
		img(src="../assets/login-image.png", alt="" class="max-w-[500px] max-h-[600px]")
		div 
