div.bg-blue-50.p-4.rounded-2xl.grid.gap-6.bg-opacity-50.drop-shadow-sm
	.cent__bet 
		h4.font-semibold.text-primary Ahmed Ali El Zardak
	include ./line-breake
		.cent__bet.gap-6
			h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Start Date
			p(class="text-neutral-700 text-sm font-bold ") 2023-11-14
		.cent__bet.gap-6
			h4( class="text-zinc-600 text-xs font-normal  tracking-wider") End Date
			p(class="text-neutral-700 text-sm font-bold ") 2023-12-09
