.p-4.gap-6(x-show="tab==='Tickets'"  :class="tab==='Tickets' ? '!grid maxsm:grid-cols-1 grid-cols-2' : '' "  class=" hidden")
	div(class="  bg-neutral-100 rounded-2xl border border-gray-300 p-4 grid gap-2")
		.cent__bet 
			div( class=" p-2.5 bg-blue-500 bg-opacity-10 rounded-2xl justify-center items-center gap-2.5 inline-flex")
				div( class="text-blue-500 text-sm font-medium font-['Somar Sans'] leading-[14px]") Internal
			a(href="/dist/html/tickets-details.html")
				include ./svgs/eye
		.font-semibold No:4512
		.text-neutral-500 The contract has been made with the client
	div(class="  bg-neutral-100 rounded-2xl border border-gray-300 p-4 grid gap-2")
		.cent__bet 
			div( class=" p-2.5 bg-blue-500 bg-opacity-10 rounded-2xl justify-center items-center gap-2.5 inline-flex")
				div( class="text-blue-500 text-sm font-medium font-['Somar Sans'] leading-[14px]") Internal
			a(href="/dist/html/tickets-details.html")
				include ./svgs/eye
		.font-semibold No:4512
		.text-neutral-500 The contract has been made with the client
	div(class="  bg-neutral-100 rounded-2xl border border-gray-300 p-4 grid gap-2")
		.cent__bet 
			div( class=" p-2.5 bg-yellow-500 bg-opacity-10 rounded-2xl justify-center items-center gap-2.5 inline-flex")
				div( class="text-yellow-500 text-sm font-medium font-['Somar Sans'] leading-[14px]") Running
			a(href="/dist/html/tickets-details.html")
				include ./svgs/eye
		.font-semibold No:4512
		.text-neutral-500 The contract has been made with the client
	div(class="  bg-neutral-100 rounded-2xl border border-gray-300 p-4 grid gap-2")
		.cent__bet 
			div( class=" p-2.5 bg-blue-500 bg-opacity-10 rounded-2xl justify-center items-center gap-2.5 inline-flex")
				div( class="text-blue-500 text-sm font-medium font-['Somar Sans'] leading-[14px]") Internal
			a(href="/dist/html/tickets-details.html")
				include ./svgs/eye
		.font-semibold No:4512
		.text-neutral-500 The contract has been made with the client
