.progress-container
	#progress.progress
	.cent.flex-col.gap-2
		.circle.current.flex.items-center.gap-4.flex-col
			span.mt-8(class=" tracking-wider text-xs sm:text-base text-center sm:whitespace-nowrap")  Choosing Course
	.cent.flex-col.gap-2
		.circle.flex.items-center.gap-4.flex-col
			span.mt-8(class=" tracking-wider text-xs sm:text-base text-center sm:whitespace-nowrap") Payment
	.cent.flex-col.gap-2
		.circle.flex.items-center.gap-4.flex-col 
			span.mt-8(class=" tracking-wider text-xs sm:text-base text-center sm:whitespace-nowrap") Confirmation
