div( class="  bg-white rounded-2xl border border-gray-300 p-4 grid gap-4")
	.gap-3(class="md:flex grid md:justify-between ")
		h4.font-semibold.text-neutral-700 English Language Courses - Male
		div.flex.gap-1.justify-between.shrink-0(class="flex-row md:flex-col items-end")
			span.font-semibold.text-blue-700(class="order-last md:order-first") 35
			span.text-sm.text-neutral-600 Planned Points
	.grid.gap-2
		.cent__bet.gap-3
			span.text-sm.text-neutral-600 Planned Points
			span.font-semibold.text-neutral-700 0 / 35
		div( class="w-full bg-gray-200 rounded-full h-1.5  ")
			div(class="bg-green-400 h-1.5 rounded-full " style="width: 45%")
		div(class="text-green-500 text-xs font-medium leading-5 ") Your progress in target 102% by increasing 1.75 points

