.p-4.w-full.overflow-x-auto.gap-6(x-show="tab==='tasks'"  :class="tab==='tasks' ? '!grid' : '' "  class=" hidden")
	ul.grid.gap-4.py-4( class="max-h-[80dvh] overflow-y-auto text-sm md:text-base")
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )
		li.p-2.py-4.cent__bet.gap-4.bg-bggray.rounded-xl.drop-shadow-sm 
			h5.text-neutral-700 Name Task
			a(href="").text-primary.font-semibold Rana (Data Nov.Last week )