div.bg-blue-50.p-4.rounded-2xl.grid.gap-4.bg-opacity-50.drop-shadow-sm
	h4.font-semibold.text-neutral-700
		a.text-primary(href="/dist/html/recent-task-details.html")  Rwan.H( English / online / Barem) Nov.2023 F1
	include ./line-breake
		.cent__bet.gap-3
			h4.shrink-0( class="text-zinc-600 text-xs font-normal  tracking-wider") Task Type
			p(class="text-neutral-700 text-sm font-bold ") Customer Representative
		.cent__bet.gap-3
			h4.shrink-0( class="text-zinc-600 text-xs font-normal  tracking-wider") Created at
			p(class="text-neutral-700 text-sm font-bold ") 31/10/2023
	include ./line-breake
	.grid.gap-2
		.cent__bet.gap-3
			h4.shrink-0( class="text-zinc-600 text-xs font-normal  tracking-wider") Percentage Completed
			p(class="text-neutral-700 text-sm font-bold ") 20%
		div( class="w-full bg-gray-200 rounded-full h-1.5  ")
			div(class="bg-green-400 h-1.5 rounded-full " style="width: 45%")