div.bg-blue-50.p-4.rounded-2xl.grid.gap-6.bg-opacity-50.drop-shadow-sm
	video(src="/dist/assets/video.mp4" class="aspect-video rounded-2xl w-full " controls )
	.cent__bet.gap-4
		h4  Demo Level 1
		div.cursor-pointer()
			include ./svgs/paste
