include mixins/modal.pug
doctype html
html(lang="en" dir="ltr" x-data="{ lang: localStorage.getItem('lang') || 'en', dir: localStorage.getItem('dir') || 'ltr', toggleDirLang() { this.lang = this.lang === 'en' ? 'ar' : 'en'; this.dir = this.dir === 'ltr' ? 'rtl' : 'ltr'; this.updateAttributes(); window.location.reload(); }, setToLTR() { this.lang = 'en'; this.dir = 'ltr'; this.updateAttributes(); window.location.reload(); }, setToRTL() { this.lang = 'ar'; this.dir = 'rtl'; this.updateAttributes(); window.location.reload(); }, updateAttributes() { localStorage.setItem('dir', this.dir); localStorage.setItem('lang', this.lang); document.documentElement.dir = this.dir; document.documentElement.lang = this.lang; }}", x-init="() => { document.documentElement.lang = lang; document.documentElement.dir = dir; }")
	include ./components/head
	body(x-data="{open:true}") 
		div(class="grid md:grid-cols-2 h-screen w-screen ")
			include ./components/login-blue-bg
			include ./components/reset-form
		div(x-show="open" :class="open ? '!block' : '' "  class=" hidden" )
			+modal()
				+slot('x')
					button(class="fa-solid fa-x" @click="open = false")
				+slot('body')
					img(src="../assets/task-complete.png", alt="" class="w-16 h-16 mx-auto" )
					div( class="text-center text-neutral-700 text-lg font-semibold    leading-[18px]") Password changed successfully
					button.button__primary 
						a(href="./login.html") Go to Login Page
		include ./components/scripts